@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,900');
body {
  font-family: 'Montserrat', sans-serif;
}

header {
  background-color: #242424;
  padding-top: 60px;
  padding-bottom: 60px;
  color: white;
}

header .left-part {
  display: flex;
  flex-wrap: nowrap;
  padding-left: 15px;
}

.hamburger {
  width: 50px;
  margin-right: 50px;
}

.icon-bar {
  display: block;
  width: 40px;
  height: 5px;
  border-radius: 5px;
  background-color: #c51e15;
  margin: 10px 0;
}

.icon-bar:first-child {
  margin-top: 0;
}

.hamburger button {
  background-color: transparent;
  border: none;
}

header .logo {
  margin-top: -7px;
  width: 200px;
}

header .logo img {
  width: 170px;
}

header .logo-text {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  color: white;
  font-weight: 500;
  margin-top: 5px;
}

.call {

  width: 210px;
  height: 60px;
  margin-top: -7px;
  padding: 10px 30px;
  line-height: 1.3;
  background-color: #313131;
  color: white;
  border: none;
  border-radius: 40px;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  box-shadow: 0 0 50px #262626;
}

.call img {
  width: 30px;
  height: 40px;
  margin-right: 10px;
}

.call .content {
  display: flex;
}

.right-part {
  display: none;
}

.top-part {
  margin-top: 40px;
}

header .top-part .title {
  text-transform: uppercase;
  font-size: 30px;
  line-height: 1.2;
  font-weight: 300;
}

ul {
  list-style-type: none;
  font-size: 14px;
  line-height: 2.5;
  padding-left: 0;
  margin-top: 30px;
}

header .top-part .text {
  list-style-type: none;
  font-size: 14px;
  line-height: 2.5;
  padding-left: 0;
  margin-top: 40px;
}

.red-button {
  background-color: #c51e15;
  color: white;
  text-transform: uppercase;
  border: none;
  border-radius: 40px;
  font-weight: 900;
  box-shadow: 0 0 50px #262626;
}

button.small {
  font-size: 14px;
  padding: 15px 25px;
}

header .top-part .consult {
  font-size: 12px;
  padding: 10px 20px;
  margin-top: 40px;
}

.highlight {
  color: #be1d13;
  font-weight: 900;
}

.camera {
  display: none;
}

.service {
  padding-top: 30px;
  padding-bottom: 30px;

}

.service .logo .icon img {
  width: 75px;
}

.service .logo .icon {
  margin-right: 20px;
}

.service .logo {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.service .title {
  font-size: 24px;
  font-weight: 900;
  text-transform: uppercase;
  color: #f62619;
  line-height: 1.2;
  max-width: 120px;
}

.service .text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.9;
}

.important {
  font-weight: 900;
  text-transform: uppercase;
}

.main-part {
  background-color: #242424;
  padding-top: 60px;
  padding-bottom: 60px;
  color: white;
}

.service .important {
  margin-top: 10px;
}

.main-part .container {
  padding-left: 0;
  padding-right: 0;
}

/*
.main-part .block {
  display: flex;
}
*/

.main-part .block {
  margin-bottom: 76px;
}

.main-part .block.right .wrap {
  display: flex;
  justify-content: flex-end;
}

.main-part .block .content {

  position: relative;
}

.main-part .block .wrap {
  margin-top: 40px;
}


.main-part .block .complete-image .layer {
  width: 150px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.main-part .block .complete-image .layer {
  background-repeat: no-repeat;
  background-size: contain;
}

.main-part .block:nth-child(1) .complete-image .layer {
  background-image: url(../img/layer-1.png);
}

.main-part .block:nth-child(2) .complete-image .layer {
  background-image: url(../img/layer-2.png);
}

.main-part .block:nth-child(3) .complete-image .layer {
  background-image: url(../img/layer-3.png);
}

.main-part .block:nth-child(4) .complete-image .layer {
  background-image: url(../img/layer-4.png);
}

.main-part .block:nth-child(5) .complete-image .layer {
  background-image: url(../img/layer-5.png);
}

.main-part .block:nth-child(6) .complete-image .layer {
  background-image: url(../img/layer-6.png);
}



.main-part .block .complete-image .layer .icon img {
  width: 50px;
}


.main-part .block .content {
  position: relative;
  padding-bottom: 100px;

}

.main-part .block .content .title {
  font-weight: 900;
  font-size: 24px;
  text-transform: uppercase;
}

.main-part .block .content .text {
  font-size: 14px;
  padding-right: 0px;
  position: relative;
  z-index: 1;
}

.main-part .block.left .content .text {
  padding-left: 20px;
}

.main-part .block .content .text .first-text-block {
  text-transform: uppercase;
  font-weight: 900;
  margin-bottom: 20px;
}

.main-part .block .content .text .title {
  text-transform: uppercase;
  font-weight: 900;
  font-size: 20px;
  margin-bottom: 20px;
}

.main-part .block .button-block {

  width: 200px;
  margin: 0 auto;
}

.main-part .block .price {
  /*
  margin: 0 auto;
  width: 150px;
  margin-bottom: 20px;
*/
}


.main-part .block .content .number {
  display: none;
}

.text.row {
  margin: 0;
  padding-left: 15px;
  padding-right: 15px;
}

.second-text-block {
  margin-bottom: 20px;
}

.advices {
  background: #242424;
}

.advices .wrap {
  padding-top: 20px;
  padding-bottom: 20px;
  display: none;
}

.advices .text {
  color: white;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 900;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.advices .highlight {
  display: block;
}

.advices {
  padding-bottom: 50px;
}

footer {
  background-color: white;
  padding: 50px 0;
}

footer .logo {
  width: 180px;
  margin: 0 auto;
}

footer .logo-text {
  color: black;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 500;
  margin-top: 5px;
}

.form-block {
  background-color: #242424;
  color: white;
  padding-top: 30px;
  padding-bottom: 30px;
  display: flex;
  flex-direction: row;
}

.form-block input,
.form-block textarea {
  background: #313131;
  border: none;
  border-radius: 40px;
}

.form-block textarea {
  border-radius: 30px;
}

.form-block input.active {
  background: white;
}


.form-block .title {
  font-size: 24px;
  font-weight: 900;
  text-transform: uppercase;
  margin-bottom: 30px;
}

textarea {
  resize: none;
  outline: none;
  overflow: hidden;
  width: 100%;
  display: flex;
}

.form-block label {
  font-size: 14px;
  font-weight: 900;
  text-transform: uppercase;
}

.form-block .form-group .input-field {
  margin-bottom: 20px;
}

.form-block .form-group:first-child .input-field:nth-child(6) {
  margin-bottom: 0;
}

/*
.form-block .wrap-field{
  display: flex;
  flex-direction: row;
}
*/

.form-block .input-field {
  max-width: 560px;
}

.form-block .form-group {
  margin-bottom: 20px;
}

.form-block .form-group .send button {
  display: block;
  widows: 150px;
  margin: 0 auto;
}

.modal-dialog {

  margin-top: 10px
}

.modal-content {
  top: 50px;
  background: #262626;
  color: white;
  font-family: 'Montserrat', sans-serif;
  box-shadow: 0 0 114px #000;
  padding: 40px 30px;
  border-radius: 0;
}

.modal-header,
.modal-footer {
  border: none;
}

.modal-body input {
  margin-bottom: 20px;
  border-radius: 20px;
}

.modal label {
  font-size: 14px;
  font-weight: 900;
  text-transform: uppercase;
}

.modal textarea {
  border-radius: 20px;
}

.modal input,
.modal textarea {
  background: #313131;
  border: none;
}

.modal input.active {
  background: white;
}

.modal button {

  width: 200px;
  margin: 0 auto;
}

button.close {
  position: relative;
  top: -80px;
  right: -20px;
  background-color: red;
  border-radius: 50%;
  opacity: 1;
  width: 30px;
  height: 30px;
  padding: 10px!important;
  color: white;
  font-weight: 300;
}

button.close span {
  position: relative;
  top: -6px;
  left: -2px;
}

textarea:focus {
  background: #fff;
}

.price {
  display: flex;
  align-items: center;
  max-width: 500px;
  flex-wrap: wrap;
}

.block.right .price {
  left: 0;
}

.price .cost {
  /* display: inline-block;*/
  margin-right: 15px;
  font-weight: 900;
  font-size: 20px;
}

.ruble {
  /*  display: inline-block;*/
  background-image: url(../img/rub.png);
  width: 40px;
  height: 40px;
  margin-right: 15px;
}

/*---------------------------------------------------------------------------------------*/

/*--------------------------------------------------------------------------------------------*/

@media (min-width: 576px) {
  .right-part {
    display: block;
    box-sizing: border-box;
  }
  header .top-part .title {
    font-size: 36px;
  }
  header .top-part .title .highlight {
    font-size: 40px;
  }
  .top-part {
    margin-top: 80px;
  }
  header .top-part .text {
    margin-top: 55px;
  }

  header .top-part .consult {
    font-size: 16px;
    border-radius: 40px;
    padding: 20px 40px;
    margin-top: 75px;
    height: 60px;
  }
  .main-part .block .content .text {

    padding-right: 30px;
  }
  .main-part .block .content {
    padding-left: 20px;
  }
  .second-text-block {
    margin-bottom: 0;
  }

  .main-part .block .button-block {
    position: absolute;
    z-index: 1;
    /*    width: 300px;*/
    bottom: 0;
    right: 0;
    float: right;
  }


  .main-part .block .price {
    position: absolute;
    /*    bottom: 10px;*/
    bottom: 0;
    /*    float: left;*/
    margin-bottom: 0;
  }

  .advices .text {

    align-items: center;
    justify-content: flex-start;
    text-align: left;
  }
  .advices .highlight {
    display: inline;
  }
  .form-block .form-group .send button {
    float: right;
  }

  .modal button.close {
    right: -30px;
  }

}

@media (min-width: 768px) {

  .service {
    text-align: left;
  }
  .service .logo {
    max-width: 240px;
    margin-bottom: 0;
  }
  .main-part .block:nth-child(5) .content {
    padding-bottom: 170px;
  }
  .main-part .block .content .number {
    font-size: 550px;
    font-weight: 900;
    color: #c51e14;
    position: absolute;
    z-index: 0;
    line-height: 0.64;
    display: block;
  }

  .main-part .block.right .content .number {
    right: -10px;
    top: -10px;
  }
  .main-part .block.right:nth-child(1) .content .number {
    right: -30px;
    top: -10px;
  }
  .main-part .block.left .content .number {

    left: -10px;
    top: -10px;

  }
  .main-part .block.left:nth-child(2) .content .number {
    left: -10px;
  }

  .main-part .block .content .text .title {
    font-size: 24px;
  }

  .main-part .block .wrap {
    margin-top: 0;
  }
  .main-part .block .complete-image .layer {
    width: 240px;
    height: 240px;
    margin-left: 0;
  }
  .main-part .block.left .complete-image .layer {
    margin-left: auto;
    margin-right: 0;
  }

  .main-part .block .complete-image .layer .icon img {
    width: 70px;
  }

  .main-part .block.left {
    flex-direction: row-reverse;
  }

  .main-part .block .price {
    left: 38px;
    max-width: 250px;
  }
  .advices {
    padding-bottom: 0;
  }

  .advices .container {
    background: url(../img/advices-bg.png), transparent;
    background-position: left;
    background-repeat: no-repeat;
    background-size: contain;
  }
  .advices .wrap {
    display: block;
  }
  .advices .icon {

    background-image: url(../img/advices-icon.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 60px;
    height: 60px;
    margin: 0 auto;
  }

  .form-block .form-group .input-field {
    margin-right: 20px;
    max-width: 210px;
  }



  .form-block label {
    max-width: 100px;
    margin-right: 10px;
  }
  .form-block label.comment {
    max-width: 130px;
    /*    margin-right: 20px;*/
    margin-top: 10px;
  }
  .form-block .form-group .input-field:first-child {
    margin-right: 10px;
  }
  .form-block label.phone {
    max-width: 120px;
  }
}

@media (min-width: 992px) {
  .camera {
    display: block;
    background-image: url(../img/camera-header.png);
    background-size: contain;
    background-repeat: no-repeat;
  }
  .main-part .block .complete-image .layer {
    width: 315px;
    height: 315px;
  }
  .main-part .block .complete-image .layer .icon img {
    width: 100px;
  }

  .main-part .block .price {
    max-width: 430px;
  }
  .form-block .form-group label {

    margin-right: 20px;
  }




  .form-block .form-group .input-field {

    max-width: 300px;
  }


}

@media (min-width: 1200px) {
  .camera {
    display: block;
    background-image: url(../img/camera-header.png);
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: -133px;
    margin-left: -70px;
  }

  .main-part .block.right .content {
    padding-left: 75px;
    padding-right: 0;
  }
  .main-part .block .complete-image .layer {
    width: 285px;
    height: 285px;
  }
  .main-part .block.left .content .text {
    padding-right: 75px;
    padding-left: 0;
  }
  .main-part .block .complete-image .layer {
    width: 380px;
    height: 380px;
  }
  .main-part .block:nth-child(5) .content {
    padding-bottom: 100px;
  }
  .price .cost {
    font-size: 24px;
  }
  .main-part .block .price {
    max-width: 530px;
  }

  .form-block .form-group .input-field {
    max-width: 220px;
  }




}
