@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,900');
body {
  font-family: 'Montserrat', sans-serif;
}

header {
  background-color: #242424;
  padding-top: 60px;
  padding-bottom: 60px;
  color: white;
}

header .left-part {
  display: flex;
  flex-wrap: nowrap;
  padding-left: 15px;
}

.hamburger {
  width: 50px;
  margin-right: 50px;
}

.icon-bar {
  display: block;
  width: 40px;
  height: 5px;
  border-radius: 5px;
  background-color: #c51e15;
  margin: 10px 0;
}

.icon-bar:first-child {
  margin-top: 0;
}

.hamburger button {
  background-color: transparent;
  border: none;
}

header .logo {
  margin-top: -7px;
  width: 200px;
}

header .logo img {
  width: 170px;
}

.logo-text {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  color: white;
  font-weight: 500;
  margin-top: 5px;
}

.call {

  width: 210px;
  height: 60px;
  margin-top: -7px;
  padding: 10px 30px;
  line-height: 1.3;
  background-color: #313131;
  color: white;
  border: none;
  border-radius: 40px;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  box-shadow: 0 0 50px #262626;
}

.call img {
  width: 30px;
  height: 40px;
  margin-right: 10px;
}

.call .content {
  display: flex;
}

.right-part {
  display: none;
}

.top-part {
  margin-top: 40px;
}

header .top-part .title {
  text-transform: uppercase;
  font-size: 30px;
  line-height: 1.2;
  font-weight: 300;
}

ul {
  list-style-type: none;
  font-size: 14px;
  line-height: 2.5;
  padding-left: 0;
  margin-top: 40px;
}

header .top-part .text {
  list-style-type: none;
  font-size: 14px;
  line-height: 2.5;
  padding-left: 0;
  margin-top: 40px;
}

.red-button {
  background-color: #c51e15;
  color: white;
  text-transform: uppercase;
  border: none;
  border-radius: 40px;
  font-weight: 900;
  box-shadow: 0 0 50px #262626;
}

button.small {
  font-size: 14px;
  padding: 15px 25px;
}

header .top-part .consult {
  font-size: 16px;
  padding: 20px 40px;
  margin-top: 40px;
}

.highlight {
  color: #be1d13;
  font-weight: 900;
}

.camera {
  display: none;
}

.service {
  padding-top: 30px;
  padding-bottom: 30px;

}

.service .logo .icon img {
  width: 75px;
}

.service .logo .icon {
  margin-right: 20px;
}

.service .logo {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.service .title {
  font-size: 24px;
  font-weight: 900;
  text-transform: uppercase;
  color: #f62619;
  line-height: 1.2;
  max-width: 120px;
}

.service .text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.9;
}

.important {
  font-weight: 900;
  text-transform: uppercase;
}

.main-part {
  background-color: #242424;
  padding-top: 60px;
  padding-bottom: 60px;
  color: white;
}

.service .important {
  margin-top: 10px;
}

.main-part .container {
  padding-left: 0;
  padding-right: 0;
}

/*
.main-part .block {
  display: flex;
}
*/

.main-part .block {
  margin-bottom: 76px;
}

.main-part .block.right .wrap {
  display: flex;
  justify-content: flex-end;
}

.main-part .block .content {

  position: relative;
}

.main-part .block .wrap {
  margin-top: 40px;
}


.main-part .block .complete-image .layer {
  width: 150px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.main-part .block .complete-image .layer {
  background-repeat: no-repeat;
  background-size: contain;
}

.main-part .block:nth-child(1) .complete-image .layer {
  background-image: url(../img/layer-1.png);
}

.main-part .block:nth-child(2) .complete-image .layer {
  background-image: url(../img/layer-2.png);
}

.main-part .block:nth-child(3) .complete-image .layer {
  background-image: url(../img/layer-3.png);
}

.main-part .block:nth-child(4) .complete-image .layer {
  background-image: url(../img/layer-4.png);
}

.main-part .block:nth-child(5) .complete-image .layer {
  background-image: url(../img/layer-5.png);
}

.main-part .block:nth-child(6) .complete-image .layer {
  background-image: url(../img/layer-6.png);
}



.main-part .block .complete-image .layer .icon img {
  width: 50px;
}


.main-part .block .content {
  position: relative;
  padding-bottom: 100px;

}

.main-part .block .content .title {
  font-weight: 900;
  font-size: 24px;
  text-transform: uppercase;
}

.main-part .block .content .text {
  font-size: 14px;
  padding-right: 0px;
  position: relative;
  z-index: 1;
}

.main-part .block.left .content .text {
  padding-left: 20px;
}

.main-part .block .content .text .first-text-block {
  text-transform: uppercase;
  font-weight: 900;
  margin-bottom: 20px;
}

.main-part .block .content .text .title {
  text-transform: uppercase;
  font-weight: 900;
  font-size: 20px;
  margin-bottom: 20px;
}

.main-part .block .content .button-block {

  width: 200px;
  margin: 0 auto;
}

.main-part .block .content .price {
  margin: 0 auto;
  width: 60px;
  margin-bottom: 20px;
}


.main-part .block .content .number {
  display: none;
}

.text.row {
  margin: 0;
  padding-left: 15px;
  padding-right: 15px;
}

.second-text-block {
  margin-bottom: 20px;
}

.advices {
  background: #242424;
}

.advices .wrap {
  padding-top: 20px;
  padding-bottom: 20px;
  display: none;
}

.advices .text{
  color: white;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 900;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.advices .highlight{
  display: block;
}

@media (min-width: 576px) {
  .right-part {
    display: block;
    box-sizing: border-box;
  }
  header .top-part .title {
    font-size: 36px;
  }
  header .top-part .title .highlight {
    font-size: 40px;
  }
  .top-part {
    margin-top: 80px;
  }
  header .top-part .text {
    margin-top: 55px;
  }

  header .top-part .consult {
    font-size: 16px;
    border-radius: 40px;
    padding: 20px 40px;
    margin-top: 75px;
    height: 60px;
  }
  .main-part .block .content .text {

    padding-right: 30px;
  }
  .main-part .block .content {
    padding-left: 20px;
  }
  .second-text-block {
    margin-bottom: 0;
  }

  .main-part .block .content .button-block {
    position: absolute;
    z-index: 1;
    /*    width: 300px;*/
    bottom: 0;
    right: 0;
    float: right;
  }


  .main-part .block .content .price {
    position: absolute;
    bottom: 10px;
    float: left;
    margin-bottom: 0;
  }

  .advices .text{
 
  align-items: center;
  justify-content:flex-start;
  text-align: left;
}
  .advices .highlight{display: inline;}

}

@media (min-width: 768px) {

  .service {
    text-align: left;
  }
  .service .logo {
    max-width: 240px;
    margin-bottom: 0;
  }

  .main-part .block .content .number {
    font-size: 550px;
    font-weight: 900;
    color: #c51e14;
    position: absolute;
    z-index: 0;
    line-height: 0.64;
    display: block;
  }

  .main-part .block.right .content .number {
    right: -10px;
    top: -10px;
  }
  .main-part .block.right:nth-child(1) .content .number {
    right: -30px;
    top: -10px;
  }
  .main-part .block.left .content .number {

    left: -10px;
    top: -10px;

  }
  .main-part .block.left:nth-child(2) .content .number {
    left: -10px;
  }

  .main-part .block .content .text .title {
    font-size: 24px;
  }

  .main-part .block .wrap {
    margin-top: 0;
  }
  .main-part .block .complete-image .layer {
    width: 240px;
    height: 240px;
    margin-left: 0;
  }
  .main-part .block.left .complete-image .layer {
    margin-left: auto;
    margin-right: 0;
  }

  .main-part .block .complete-image .layer .icon img {
    width: 70px;
  }

  .main-part .block.left {
    flex-direction: row-reverse;
  }

  .advices .container {
    background: url(../img/advices-bg.png), transparent;
    background-position: left;
    background-repeat: no-repeat;
    background-size: contain;
  }
  .advices .wrap {
    display: block;
  }
  .advices .icon {

    background-image: url(../img/advices-icon.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 60px;
    height: 60px;
    margin: 0 auto;
  }

}

@media (min-width: 992px) {
  .camera {
    display: block;
    background-image: url(../img/camera-header.png);
    background-size: contain;
    background-repeat: no-repeat;
  }
  .main-part .block .complete-image .layer {
    width: 315px;
    height: 315px;
  }
  .main-part .block .complete-image .layer .icon img {
    width: 100px;
  }


}

@media (min-width: 1200px) {
  .camera {
    display: block;
    background-image: url(../img/camera-header.png);
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: -133px;
    margin-left: -70px;
  }

  .main-part .block.right .content {
    padding-left: 75px;
    padding-right: 0;
  }
  .main-part .block .complete-image .layer {
    width: 285px;
    height: 285px;
  }
  .main-part .block.left .content .text {
    padding-right: 75px;
    padding-left: 0;
  }
  .main-part .block .complete-image .layer {
    width: 380px;
    height: 380px;
  }
}

@media(min-width: 1920px) {
  /*
  .col-lg,
  .col-lg-1,
  .col-lg-10,
  .col-lg-11,
  .col-lg-12,
  .col-lg-2,
  .col-lg-3,
  .col-lg-4,
  .col-lg-5,
  .col-lg-6,
  .col-lg-7,
  .col-lg-8,
  .col-lg-9,
  .col-lg-auto,
  .col-xl,
  .col-xl-1,
  .col-xl-10,
  .col-xl-11,
  .col-xl-12,
  .col-xl-2,
  .col-xl-3,
  .col-xl-4,
  .col-xl-5,
  .col-xl-6,
  .col-xl-7,
  .col-xl-8,
  .col-xl-9,
  .col-xl-auto,
  .container {
    padding-left: 0;
    padding-right: 0;
  }
*/
}
